<!-- Top Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"></div>
        <div class="center sliding"> Sign Up
        </div>
        <div class="right"></div>
    </div>
</div>


<div class="pages">
    <div class="page" data-page="signup-screen">
        <div class="page-content">
            
        </div>
    </div>
</div>