<!-- Top Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"></div>
        <div class="center sliding"> Sign Up
        </div>
        <div class="right"><a href="#" class="back link"><span>Back</span></a></div>
    </div>
</div>


<div class="pages">
    <div class="page" data-page="signup-screen">
        <div class="page-content">
            <div class="slider-custom">
                <div class="slider-container">
                      <div class="slider-wrapper">
                        <div class="slider-slide">
                            <div class="content-block-title"> Account Information </div>
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">Username </div>
                                                <div class="item-input"><input type="text" name="username" placeholder="username"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">Password </div>
                                                <div class="item-input"><input type="password" name="password" placeholder="password"> </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">Confirm Password </div>
                                                <div class="item-input"><input type="password" name="confirmpassword" placeholder="password"> </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">Email </div>
                                                <div class="item-input"><input type="email" name="email" placeholder="donnie@excelsior.com"> </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row" style="padding:10px;">
                                <div class="col-25"> </div>
                                <div class="col-50"> </div>
                                <div class="col-25">
                                    <a href="#" class="button slider-next-button">Next Step</a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-slide">
                            <span>Athlete Profile </span>
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">First Name </div>
                                                <div class="item-input"><input type="text" name="athfirstname" placeholder="Donnie"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">Last Name </div>
                                                <div class="item-input"><input type="text" name="athlastname" placeholder="Walker"> </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="content-block-title">Experience Level</div>
                            <div class="list-block">
                              <ul>
                                <li>
                                  <label class="label-radio item-content">
                                    <!-- Checked by default -->
                                    <input type="radio" name="my-radio" value="beginner" checked="checked">
                                    <div class="item-media">
                                      <i class="icon icon-form-radio"></i>
                                    </div>
                                    <div class="item-inner">
                                      <div class="item-title">Beginner</div>
                                    </div>
                                  </label>
                                </li>
                                <!-- Another chekbox item -->
                                <li>
                                  <label class="label-radio item-content">
                                    <input type="radio" name="my-radio" value="summerleague">
                                    <div class="item-media">
                                      <i class="icon icon-form-radio"></i>
                                    </div>
                                    <div class="item-inner">
                                      <div class="item-title">Summer League</div>
                                    </div>
                                  </label>
                                </li>
                                <li>
                                  <label class="label-radio item-content">
                                    <input type="radio" name="my-radio" value="preclub">
                                    <div class="item-media">
                                      <i class="icon icon-form-radio"></i>
                                    </div>
                                    <div class="item-inner">
                                      <div class="item-title">Pre Club</div>
                                    </div>
                                  </label>
                                </li>
                                <li>
                                  <label class="label-radio item-content">
                                    <input type="radio" name="my-radio" value="experienced">
                                    <div class="item-media">
                                      <i class="icon icon-form-radio"></i>
                                    </div>
                                    <div class="item-inner">
                                      <div class="item-title">Experienced</div>
                                    </div>
                                  </label>
                                </li>
                                <li>
                                  <label class="label-radio item-content">
                                    <input type="radio" name="my-radio" value="masters">
                                    <div class="item-media">
                                      <i class="icon icon-form-radio"></i>
                                    </div>
                                    <div class="item-inner">
                                      <div class="item-title">Masters</div>
                                    </div>
                                  </label>
                                </li>
                              </ul>
                            <div class="row">
                                <div class="col-25">
                                    <a href="#" class="button slider-prev-button">Previous Step</a>
                                </div>
                                <div class="col-50"> </div>
                                <div class="col-25">
                                    <a href="#" class="button slider-next-button">Next Step</a>
                                </div>
                            </div>
                            </div> 
                        </div>
                        <div class="slider-slide">
                            <div class="content-block-title">Billing Information </div>
                            <div class="list-block">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title"> Uhhh Idk yet... </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-25">
                                         <a href="#" class="button slider-prev-button">Previous Step</a>
                                    </div>
                                    <div class="col-50">
                                    </div>
                                    <div class="col-25"></div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="slider-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>