.center{
	text-align: center;
}
.calendar-title{
	padding-bottom: 5px;
}
i.icon.icon-forward{
  width: 12.5px;
  height: 15px;
  text-align: left;
  background-image: url("glyphicons/png/glyphicons-179-step-forward.png");
}
i.icon.icon-backward{
	width: 12.5px;
	height: 15px;
	background-image: url("glyphicons/png/glyphicons-171-step-backward.png");
}
i.icon.icon-right-chevron{
	width: 12.5px;
	height: 15px;
	background-image: url("glyphicons/png/glyphicons-224-chevron-right.png");	
}
i.icon.icon-address{
  width: 20px;
  height: 20px;
  background-image: url("glyphicons/png/glyphicons-21-home.png");
}
i.icon.icon-email{
  width: 20px;
  height: 20px;
  background-image: url("glyphicons/png/glyphicons-11-envelope.png");
}
i.icon.icon-phone{
  width: 20px;
  height: 20px;
  background-image: url("glyphicons/png/glyphicons-443-earphone.png");
}
i.icon.icon-calendar{
  width: 20px;
  height: 20px;
  background-image: url("glyphicons/png/glyphicons-46-calendar.png");
}
i.icon.icon-coach-list{
  width: 20px;
  height: 20px;
  background-image: url("glyphicons/png/glyphicons-44-group.png");
}
i.icon.icon-more-list{
  width: 20px;
  height: 20px;
  background-image: url("glyphicons/png/glyphicons-517-menu-hamburger.png");
}
.left{
  text-align: left;

}
.buffer{
  width: 100%;
  height: 50px;
}
.page-content{
  top:44px;
  width: 100%;
  position: absolute;
}

.right{
  text-align: right;
}
.content-center{
  align-items:center;
}
.slider-container{
  height: 90%;

}
.slider-custom {
  position:relative;
  height:100%;
}
.slider-slide {
  background: #fff;
}
.slider-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.slider-prev-button, .slider-next-button {
  padding:2px;
  width:100%;
  top: 50%;
  text-align:center;
}
.slider-prev-button {

}
.slider-next-button {
}
.slider-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;

  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
}
.slider-pagination-active {
  background: #007aff;
  border-color: #007aff;
}   