<!-- Top Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"></div>
        <div class="center sliding"> Calendar
        </div>
        <div class="right"></div>
    </div>
</div>


<div class="pages">
    <div class="page" data-page="appointments-calendar">
        <div class="page-content">
            <section class="container">
                <table class="cal" style="height:200px;"> </table>
            </section>
        </div>
    </div>
</div>